  {% extends 'main.html' %} {% block content %} 


  <div class="flex-container">
  <div class="mid-container">
  <div class="title-container">
    <div class="item">
        <button class="click" id="button4" onclick="submitForm(event)"><i class="fas fa-arrow-left arrow-icon" style="color: rgb(181, 199, 229);"></i></i></button>
      <h2 id="button3" >{{course}}</h2>
  </div>

</div>
  <div class="table-container">
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table id="first">
            <col style="width: 50%" />
            <col style="width: 50%" />
            <tr>
                <th>Student Name</th>
                <th>Grade</th>
            </tr>
            {% for form in formset %}
                <tr>
                    <td>{{ form.instance.student.username }}</td>
                    <td>{{ form.grade }}</td>
                    {{ form.id.as_hidden }}
                </tr>
            {% endfor %}
        </table>
    </form>
</div>
</div>
</div>





    <script>
       function submitForm(event) {
        event.preventDefault();
        document.querySelector("form").submit();
    }
    </script>
{% endblock %}
