{% extends 'main.html' %} {% block content %}


{% if request.user.teacher %}
<!-- teacher stuff -->
  <div class="flex-container">
      <div class="mid-container">
          <div class="title-container">
              <div class="item">
                <h2 id="button3" >Your courses</h2>
              </div>
              <hr class="line"> 
          </div>
          
          <div class="table-container">
              <table>
                  <col style="width: 20%;">
                  <col style="width: 30%;">
                  <col style="width: 30%;">
                  <col style="width: 20%;">
                  <tr>
                      <th>Course Name</th>
                      <th>Teacher</th>
                      <th>Time</th>
                      <th>Students Enrolled</th>
                  </tr>
                  {% for course in courses %}
                  <tr>
                      <td><a href="{% url 'editGrade' course.id %}">{{ course.course }}</a></td>
                      <td>{{ course.instructor.username }}</td>
                      <td>{{ course.schedule }}</td>
                      <td>{{ course.student_ratio  }}</td>
                  </tr>
                  {% endfor %}
              </table>
          </div>

      </div>
  </div>

 {% else %}
<!-- student stuff -->

<div class="flex-container">
    <div class="mid-container">
      <div class="title-container">
        <div class="item">
          <button class="click" id="button1" >Your courses</button>
      </div>
      <div class="item">
          <button class="click" id="button2">Add courses</button>
      </div>
      </div>

      <div class="table-container">
        <table id="first">
            <col style="width: 20%;">
            <col style="width: 30%;">
            <col style="width: 30%;">
            <col style="width: 20%;">
            <tr>
                <th>Course Name</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Students Enrolled</th>
            </tr>
            {% for course in enrolled_courses %}
            <tr>
              <td>{{ course.course }}</td>
              <td>{{ course.instructor.username }}</td>
              <td>{{ course.schedule }}</td>
              <td>{{ course.student_ratio  }}</td>
            </tr>
            {% endfor %}
            
        </table>
        
          <table id="second">
            <col style="width: 20%" />
            <col style="width: 30%" />
            <col style="width: 30%" />
            <col style="width: 10%" />
            <col style="width: 10%" />
            <tr>
              <th>Course NameSS</th>
              <th>Teacher</th>
              <th>Time</th>
              <th>Students Enrolled</th>
              <th>Enroll</th>
            </tr>
    
            {% for course in all_courses %}
<tr>
  <td>{{ course.course }}</td>
  <td>{{ course.instructor.username }}</td>
  <td>{{ course.schedule }}</td>
  <td>{{ course.student_ratio  }}</td>
  <td>
    
    
    {% if request.user.student and course in request.user.student.courses.all %}
<form action="{% url 'remove' course.id %}" method="post">
  {% csrf_token %}
  <button type="submit" class="enroll-btn"><i class="fas fa-minus fa-1x" style="color: blue;"></i></button>
</form>
{% else %}
{% if course.full == True %}
<button type="submit" class="enroll-btn">Full</button>
{% else %}
<form action="{% url 'add' course.id %}" method="post">
  {% csrf_token %}
  <button type="submit" class="enroll-btn"><i class="fas fa-plus fa-1x"  style="color: red; "></i></button>
</form>
{% endif %}
{% endif %}

  </td>
</tr>
{% endfor %}
          </table>
          {% if messages %}
          {% for message in messages %}
            <div class="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

{% endif %} {% endblock %}
